* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #FFFFFF;
    color: #333;
}

/* Navbar */
.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
    background: white;
}

.icon-img {
    display: none;
}

.logo {
    color: #3037EB;
    font-weight: bold;
    font-size: 24px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 80px;
}

.nav-links a {
    text-decoration: none;
    color: #64748b;
    font-size: 16px;
}

.btn-browse {
    font-size: 16px;
    color: #312B78;
    background: #F1F0FA;
    border: none;
    padding: 8px 18px;
    margin-right: 150px;
    border-radius: 20px;
    cursor: pointer;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar-small {
    border-radius: 50%;
}

.posted {
    font-size: 12px;
    color: #6A6A6A;
}

.james {
    font-size: 14px;
    font-weight: 500;
    color: #312B78;
}

/* Main Layout */
.container {
    display: flex;
    height: calc(100vh - 70px);
}

/* Sidebar */
.sidebar {
    width: 350px;
    background: white;
    border-right: 1px solid #e0e0e0;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.search-box {
    padding: 20px;
}

.search-box input {
    width: 100%;
    padding: 10px;
    border: none;
    color: #A6A5A5;
    border-radius: 24px;
    background-color: #F8F8F9;
}

.job-card {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    background-color: #FFFFFF;
}

.job-info h3 {
    font-size: 16px;
    margin-bottom: 15px;
}

.job-info p {
    font-size: 14px;
    color: #777777;
    margin-bottom: 15px;
}

.price {
    font-weight: 600;
    color: #312B78;
}

.status-pill {
    font-size: 12px;
    background-color: #1F9CD2;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 16px;
}

.offers {
    font-size: 12px;
    color: #A6A5A5;
}

/* Content Area */
.content {
    flex: 1;
    padding: 40px;
    position: relative;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.content-2 {
    display: none;
}

.content-header h1 {
    font-size: 48px;
    margin: 10px 0;
    color: #312B78;
}

.poster-info {
    display: flex;
    gap: 12px;
    margin-top: 15px;
}

.details-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
    max-width: 600px;
}

.detail-item strong {
    display: block;
    font-size: 14px;
    color: #6A6A6A;
    font-weight: 500;
}

.detail-item p {
    margin-top: 4px;
    color: #312B78;
    font-size: 14px;
    font-weight: 600;
}

.description {
    margin-top: 40px;
}

.description h3,
.attachments h3 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #312B78;
}

.description p,
.attachments p {
    line-height: 16px;
    font-weight: 200;
    color: #312B78;
    padding-top: 8px;
    padding-bottom: 40px;
}

.image-placeholder img {
    border-radius: 12px;
    width: 103px;
    height: 103px;
    padding-top: 0;
    object-fit: cover;
}

/* Budget Card */
.budget-card {
    position: absolute;
    top: 40px;
    right: 40px;
    background: #F6F5FE;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #E6E6E6;
    text-align: center;
    width: 256px;
    height: 200px;
}

.budget-card p {
    font-size: 14px;
    color: #312B78;
    font-weight: 500;
}

.budget-card h2 {
    font-size: 36px;
    color: #312B78;
    margin: 10px 0;
    font-weight: 800;
}

.btn-offer {
    background: #312B78;
    color: #F8F8F9;
    border: none;
    padding: 12px 25px;
    border-radius: 24px;
    width: 100%;
    cursor: pointer;
    font-weight: 500;
}

.report {
    font-size: 12px;
    font-weight: 700;
    color: #777777;
}


@media (max-width: 767px) {

    .navbar {
        height: 64px;
        padding: 0 16px 0 16px;
    }

    .logo {
        font-size: 24px;
    }

    .icon-img {
        display: flex;
        gap: 16px;
    }

    .nav-links {
        display: none;
    }

    .sidebar {
        width: 100%;
    }

    .search-box {
        width: 100%;
        height: 72px;
    }

    .search-box input {
        width: 100%;
        height: 50px;
        font-size: 18px;

    }

    .job-card {
        width: 375px;
        height: 178px;
        padding: 20px;
    }

    .job-info h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .price {
        font-size: 24px;
    }

    .job-info p {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .status-pill {
        font-size: 18px;
    }

    .offers {
        font-size: 16px;
    }

    .content {
        display: none;
    }

    .content-2 {
        flex: 1;
        padding: 16px;
        position: relative;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .budget-card-2 {
        background: #F6F5FE;
        padding: 20px;
        border-radius: 12px;
        border: 1px solid #E6E6E6;
        text-align: center;
        margin-top: 20px;
        width: 100%;
        height: 188px;
    }

    .budget-card-2 p {
        font-size: 18px;
        color: #312B78;
        font-weight: 500;
    }

    .budget-card-2 h2 {
        font-size: 36px;
        color: #312B78;
        margin: 10px 0;
        font-weight: 800;
    }

    .btn-offer {
        font-size: 16px;
    }

    .report {
        font-size: 14px;
    }

    .content-header h1 {
        margin: 30px 0;
        font-size: 26px;
    }

    .wed-pri {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .offer-pri {
        font-size: 10px;
        height: 16px;
    }

    .number {
        font-size: 20px;
        color: #312B78;
        height: 24px;
    }

    .posted {
        font-size: 14px;
    }

    .james {
        font-size: 14px;
    }

    .detail-item p {
        font-size: 12px;
    }

    .description h3,
    .attachments h3 {
        font-size: 18px;
    }

    .description p,
    .attachments p {
        font-size: 14px;
    }

}

@media (max-width: 1024px) {

    .nav-links {
        gap: 15px;
    }

    .btn-browse {
        margin-right: 30px;
    }
    .budget-card {
        top: 10px;
        right: 0;
    }
}